 {% extends 'base.html' %}
{% block title %}
Job site
{% endblock %}
{%block content%}
<img id='banner' src='/static/career4.jpg'
      height='300' width='100%' class="mt-2">
  <h2 class="text-center mt-2 mb-4">About Job Site</h2>
  <div class="row">
    <div class="col-md-6">
    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
       Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
       et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, 
        fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
        venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellusggggggggggg.  </p>
    </div>
    <div class="d-none d-md-block col-md-6">
      <img src='/static/working.jpg' height='372' width='100%' class='rounded float-right'>
    </div>
 </div>   
  <h2 class="text-center mt-2 mb-4">Job Openings</h2>
  <div class="row ">
    {% for job in jobs %}
      {%include 'job_item.html'%}
    {% endfor %}
  </div>
<div class="py-3"></div>
    <!--<div class="text-center mt-2 mb-4">
    <button type="button" class="btn btn-primary btn-lg mb-2">Contact Us</button>
      <h5 class="card-footer text-muted">Copy right @2025</h5>
    </div>-->
  
  {%endblock%}
  