{% extends 'base.html' %}
{% block title %}
Job site- {{jobs.title}}
{% endblock %}
{%block content%}
<div class="row align-items-center mt-2 mb-4">
  <div class="col-md-8 text-center text-md-left">
    <h2 class="mb-0">{{ jobs.title }}</h2>
  </div>
  <div class="col-md-4 text-md-right mt-2 mt-md-0">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
      Apply
    </button>
  </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
  <div class="card h-100">
    <div class="card-header">
     <b> Location</b>
    </div>
    <div class="card-body">
    <p class="card-text">{{ jobs.location }}</p>
      
      
    </div>
  </div>
</div>

<div class="col-md-6 mb-3">
  <div class="card h-100">
    <div class="card-header">
     <b> Salary</b>
    </div>
    <div class="card-body">
     <!-- <h5 class="card-title  "></h5>-->
     
      {% if 'salary' in jobs %}
        <p class="card-text">{{ jobs.salary }}</p>
      {% else %}
        <p class="card-text">Salary: Not Specified</p>
      {% endif %}
      
    </div>
  </div>
</div>

</div>

<div class="row">
    <div class="col-md-6 mb-0">
<div class="jumbotron py-2  mb-0">
    <h4>Requirements</h4>
    <ul>
      {% for line in jobs.requirements.rstrip('.').split('.') %}
      <li>{{line}}</li>
      {% endfor %}
    </ul>
    <!-- {{ jobs.requirements | safe}} -->
</div>
    </div>

    <div class="col-md-6 mb-0">
        <div class="jumbotron py-2  mb-2">
            <h4>Responsibilites</h4>
             <ul>
      {% for line in jobs.skill.rstrip('.').split('.') %}
      <li>{{line}}</li>
      {% endfor %}
    
        </div>
    </div>

    
 </div>
 <!-- Button trigger modal -->

<div class="pt-0 pb-0 mt-0 mb-4 d-flex justify-content-end">
  <button type="button" class="btn btn-primary mt-0 mb-0" data-toggle="modal" data-target="#staticBackdrop">
    Apply
  </button>
</div>

<!-- {{jobs}} -->
 {% include  'job_apply.html'%}
{%endblock%}